.vscode/**
node_modules/**
src/**
.gitignore
npm-debug.log
package-lock.json
.*.update.lock
*.vsix
.env.example
index.html
metadata.json
bun.lock
vite.config.ts
tsconfig.json
tsconfig.extension.json
dist/index.html
dist/assets/**
